/* GENERAL STYLING */
body {
  background-color: #1e1f20;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

/* images: */ 
img{
  width: 100%;
}
/* Nav Bar Code: */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1f20;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
  font-family: 'Times New Roman', Times, serif;
  float: left;
}
li a {
  font-family: 'Times New Roman', Times, serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  font-family: 'Times New Roman', Times, serif;
  background-color: #333;
}
.active {
  font-family: 'Times New Roman', Times, serif;
  background-color: #cc9876;
}
/*footer stuff*/
footer {
  text-align: center;
  padding: 0px;
  background-color: #1e1f20;
  color: white;
}
/*link colors */
a:link {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-decoration: none;
}
a:visited {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-decoration: none;
}
a:hover {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-decoration: underline;
}
a:active {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-decoration: underline;
}


/*INDIVIDUAL PAGES */


/* resume padding */
div1 {
  padding-top: 50px;
  padding-right: 70px;
  padding-bottom: 50px;
  padding-left: 70px;
  width: 100%
}

/*portfolio page*/
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #cc9876;
  background-color: #f0e0d6;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #EAC4AA;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #cc9876;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #b8896a;
  border-top: none;
  background-color: #f5eae4;
  color: #3d2e23;
}

/*web link buttons */
}
.button {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #1e1f20; 
  color: black; 
  border: 2px solid #1e1f20;
}

.button1:hover {
  background-color: #A3A4A5;
  color: black;
}

.button2 {
  font-family: 'Times New Roman', Times, serif;
  background-color: #1e1f20; 
  color: white; 
  border: 2px solid #b8896a;
}

.button2:hover {
  font-family: 'Times New Roman', Times, serif;
  background-color: #b8896a;
  color: white;
}